*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white !important;
}

.appcontainer{
  width: 100%;
  height: 100%;
  background-color:#15314b !important;
  margin-left: 0px;
  padding: 0px 20px !important;
}